@import "../../sass/pixel";
.paymentMethod {
  width: $one-hundred-percent;
  min-height: $two-hundred;
  padding: $five;
  background-color: white;
  .method {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: $ten;
    width: $one-hundred-percent;
    min-height: $fifty;
    border: 1px solid darkgrey;
    border-radius: $fifteen;
    padding: $ten;
    margin-bottom: $ten;
    .removeCard {
      position: absolute;
      right: 2px;
      bottom: $five;
      color: white;
      padding: $five;
      border-radius: $ten;
      border: none;
      background-color: #d84851;
      cursor: pointer;
    }
  }
  .add {
    margin: $ten 0;
    padding: $five;
    background-color: #1e5085;
    border: 1px solid white;
    border-radius: $thirty;
    color: white;
    cursor: pointer;
  }

}