@import "../../sass/colors";
@import "../../sass/pixel";
.apartment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $Tweenty;
  height: $one-hundred-percent;
  width: $one-hundred-percent;
  margin-bottom: $one-hundred;
  margin-top: $one-hundred;
   .apartmentContainer {
     position: relative;
     flex-direction: column;
     display: flex;
     padding: $Tweenty;
     min-height: $one-thousand-one-hundred;
     border: 2px solid $dark;
     border-radius: $ten;
      h2 {
        margin-bottom: $Tweenty;
      }
      .mainCard {
        display: flex;
        justify-content: space-around;
         @media (max-width: $nine-hundred-ten) {
           flex-direction: column;
           align-items: center;
         }
        .img {
          max-width: $five-hundred;
          margin-right: $Tweenty;
          margin-bottom: $thirty;
          img{
            width: $one-hundred-percent;
            height: $one-hundred-percent;
            max-height: $four-hundred;
            object-fit: cover;
            margin: 0 $Tweenty;
          }
        }
        .reservation {
          display: flex;
          flex-direction: column;
          align-items: center;
          h4 {
            margin-bottom: $Tweenty;
          }
          .infoRom {
            margin-top: $Tweenty;
            font-size: 1.4rem;
          }
          button {
            margin-top: $ten;
            @media(max-width: $nine-hundred-ten){
              margin-bottom: $Tweenty;
            }
          }
        }
      }

     h3 {
       font-size: 1.5rem;
       margin-bottom: 6px;
     }
     .info {
       margin-bottom: $Tweenty;
     }
     h4 {
       font-size: 1.2rem;
     }
     .backLink {
       position: absolute;
       bottom: $ten;
       right: $ten;
       text-transform: uppercase;
       text-decoration: none;
       color:$colorWhite;
       background-color: $dark;
       border-radius:$five;
       padding: $five;
       z-index: 1000;
     }
     .heart {
       position: absolute;
       top: $ten;
       right: $ten;
       font-size: 1.5rem;
       color: black;
     }
     .red {
       color: red;
     }
     .apartmentOpinion{
       width: $one-hundred-percent;
       height: $two-hundred-eighty;
          .listOfOpinion{
            max-height: $two-hundred-eighty;
            width: $one-hundred-percent;
            overflow: auto;
            .opinionContainer {
              position: relative;
              width: $one-hundred-percent;
              min-height: $fifty;
              border: 1px solid grey;
              border-radius: $thirty;
              margin-bottom: $ten;
              list-style: none;
              padding: 0 $Tweenty 0 $Tweenty;
               h5{
                 margin-top: $ten;
               }
              .userOpinion {
                margin-bottom: $Tweenty;
              }
              .rating {
                position: absolute;
                display: flex;
                align-items: center;
                top: $five;
                right: $Tweenty;
                gap: $five;
                .star {
                  color: gold;
                }
              }
            }
          }
      }
     .addOpinionFormContainer {
       display: none;
       position: absolute;
       justify-content: center;
       align-items: center;
       top: 0;
       left: 0;
       width: $one-hundred-percent;
       height: $one-hundred-percent;
       background: rgba(0,0,0,0.3);
       z-index: 10;
     }
      .addOpinion {
        width: $one-hundred;
        height: $thirty;
        border-radius: $thirty;
        background: #2e2e2e;
        margin-top: $Tweenty;
        color: white;
      }
     .otherApartments {
       display: flex;
       align-items: center;
       overflow: hidden;
       align-self: flex-end;
       width: $one-hundred-percent;
       height: $three-hundred;
       margin-bottom: $thirty;
       .romContainer {
         position: relative;
         width: $one-hundred-percent;
         height: $one-hundred-percent;
            .imgContainer {
              width: $one-hundred-percent;
              height:$one-hundred-fifty;
              img {
                 width: $one-hundred-percent;
                 height: $one-hundred-percent;
                border-top-left-radius: $ten;
                border-top-right-radius: $ten;
                 object-fit: cover;
               }
            }
            .overview {
              display: flex;
              justify-content: space-between;
              margin: $ten $ten;
               span:nth-child(2) {
                 display: flex;
                 gap: $five;
                 align-items: center;
               }
            }
           .book {
             display: flex;
             justify-content: space-between;
             align-items: center;
             margin: 0 $ten;
              a {
                text-decoration: none;
                padding: $five;
                background-color: $dark;
                border-radius: $ten;
                color: white;
              }
           }
       }
     }
     .show {
       display: flex;
     }
   }
}

.slide {
  position: relative;
  width: $one-hundred-percent;
  height: $two-hundred-tweenty;
  overflow: hidden;


  .slick-track {
    display: flex;
    gap: $Tweenty;
    padding: $five;
  }
  .slick-next {

    position: absolute;
    top: -$thirty;
    right: $Tweenty;
    background-color: $dark;
    border-radius: $five;
    padding: 2px;
    color: $colorWhite;

  }

  .slick-prev {

    position: absolute;
    top: -$thirty;
    left: $Tweenty;
    background-color: $dark;
    color:$colorWhite;
    border-radius: $five;
    padding: 2px;
    outline: none;
  }

}
.ant-picker-panels {
  display: flex;
  flex-direction: column;
}
.ant-picker-dropdown-range {
  @media (max-width: $three-hundred-tweenty) {
    left: 14px !important;
  }
}
