@import "../sass/colors";
@import "../sass/pixel";
.loginMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $one-hundred-percent;
  height: 100vh;
  background: #10437c;
  margin-top: $eighty;

   .formContainer {
     display: flex;
     justify-content: center;
     padding: $five;
     .form {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       width: $three-hundred-fifty;
       height: $five-hundred;
       background-image: url("../../assets/formBg.jpg");
       background-size: cover;
       background-position: center;
       box-shadow:$five $Tweenty $fifty #000;
       border-radius: $forty;
       color: white;
       font-family: $openSans;
        h2 {

          font-size: 3rem;
          margin-bottom: $Tweenty;
        }
       .inputBox {
         display: flex;
         flex-direction: column;
         width: $three-hundred;
         margin-bottom: $Tweenty;
          label {

            font-size: 1.5rem;
            margin-bottom: $ten;
          }
         input {
           width: $one-hundred-percent;
           height: $thirty;
           padding-left: $ten;
           background: none;
           border: none;
           border-bottom: 1px solid white;
           color: white;
           outline: none;
         }
         input::placeholder{
           color: white;
         }

       }
       .btnLogin {
         border: 2px solid white;
         background: none;
         border-radius: $five;
         color: white;
         cursor: pointer;
         text-transform: uppercase;
         padding: $five;
         margin-bottom: $Tweenty;
       }
       span {
         font-size: 1.3rem;
          a {
            color: white;
            text-decoration: none;
          }
       }
     }
   }
}