@import "../../sass/pixel";
.reservationContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: $one-hundred;
  width: $one-hundred-percent;
  padding: $five;
  background-color: white;
  border-radius: $ten;
  margin-bottom: $ten;
   @media (max-width: $five-hundred-tweenty) {
     flex-direction: column;
     justify-content: center;
   }
   button {
     border: none;
     border-radius: $ten;
     background-color: #d84851;
     color: white;
     cursor: pointer;
     padding:$five;
   }
}