@import "../../sass/pixel";
.dreams {
  display: flex;
  justify-content: center;
  width: $one-hundred-percent;
   .wrapper {
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin-top: $one-hundred;
     margin-bottom: $one-hundred;
     h2 {
       position: relative;
       margin-bottom: 2em;
       font-size: clamp(1rem, 0rem + 8vw, 3rem);
       font-weight: 300;
       text-transform: uppercase;
       text-align: center;
       color: #1755e7;
       letter-spacing: 2px;
     }
     .dreams_box {
       display: flex;
       align-items: center;
       justify-content: space-around;
       margin-top:  $Tweenty;
       padding: $Tweenty;
       width: $one-hundred-percent;
        @media (max-width: $seven-hundred-sixty-eight) {
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
        }
       .dreams__box-img {
         max-height: $four-hundred;
         margin: 0 auto;
           img{
             width: $one-hundred-percent;

             @media (max-width: $seven-hundred-sixty-eight ) {
               height: $one-hundred-percent;
             }
           }
       }
       .dreams__box-text {
         width: $one-hundred-percent;
         padding-left: $one-hundred-fifty;
          @media (max-width: $seven-hundred-sixty-eight) {
            max-width: $six-hundred;
            padding: unset;
          }
         .dreams__title {
           font-size: clamp(1rem, 0.5714rem + 1.1429vw, 2rem);
           margin-top: $Tweenty;
           margin-bottom: $Tweenty;
         }
         .dreams__text {
           font-size: clamp(1rem, 0rem + 8vw, 1.3rem);
         }
       }
     }
     .dreams__box {
       display: flex;
       align-items: center;
       flex-direction: row-reverse;
       margin-top: $Tweenty;
       padding: $Tweenty;
       width: $one-hundred-percent;
       @media (max-width: $seven-hundred-sixty-eight) {
         flex-direction: column;
         justify-content: center;
         margin: 0 auto;
       }
       .dreams__box-img {
         max-height: $four-hundred;
         margin: 0 auto;
         img{
           width: $one-hundred-percent;
           @media (max-width: $seven-hundred-sixty-eight ) {
             height: $one-hundred-percent;
           }
         }
       }
       .dreams__box-text {
         width: $one-hundred-percent;
         padding-right: $one-hundred-fifty;
         @media (max-width: $seven-hundred-sixty-eight) {
           max-width: $six-hundred;
           padding: unset;
         }
         .dreams__title {
           font-size: clamp(1rem, 0.5714rem + 1.1429vw, 2rem);
           margin-top: $Tweenty;
           margin-bottom: $Tweenty;
         }
         .dreams__text {
           font-size: clamp(1rem, 0rem + 8vw, 1.3rem);
         }
       }
     }

   }
}