@import "../../../sass/pixel";
.addOpinionForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $three-hundred-fifty;
  min-height: $five-hundred;
  border: 1px solid white;
  border-radius: $Tweenty;
  backdrop-filter: blur($fifteen);
  padding: $five;
  color: black;
  animation: show 3s ease-in;
  h2 {
    color: white;
    text-align: center;
    margin-bottom: $Tweenty;
  }
  .icon {
    position: absolute;
    top: $ten;
    right: $ten;
    padding: $five;
    border-radius: 50%;
    background: none;
    color: white;
    border: 1px solid white;
  }
  .customSelect {
    display: flex;
    flex-direction: column;
    margin-bottom: $fifteen;
    color: white;
    label {
      margin-bottom: $ten;
      font-size: 1.3rem;
    }
    .selectBox {
      width: $one-hundred-percent;
      height: $thirty;
      background: none;
      border: 1px solid white;
      outline: none;
      color: white;
      option {
        background: rgba(0,0,0, 0.1);
        color: black;
      }
    }
  }
  .customInput {
    width: $one-hundred-percent;
    display: flex;
    color: white;
    flex-direction: column;
    margin-bottom: $Tweenty;
    label {
      margin-bottom: $ten;
      font-size: 1.3rem;
    }
    input {
      outline: none;
      background: none;
      width: $one-hundred-percent;
      height: $thirty;
      padding-left: $ten;
      border: none;
      color: white;
      border-bottom: 1px solid white;
    }
    .input::placeholder {
      color: white;
    }
  }
  .customTextArea {
    color: white;
    margin-bottom: $Tweenty;
    label {
      font-size: 1.3rem;

    }
    textarea {
      padding: $ten;
      margin-top: $ten;
      width: $one-hundred-percent;
      height: $one-hundred;
      resize: unset;
      border: 1px solid white;
      background: none;
      color: white;
      outline: none;
    }
    textarea::placeholder {
      color: white;
    }
  }
  .addOpinionBtn {
    width: $one-hundred;
    height: $thirty;
    border-radius: $thirty;
    border: 1px solid white;
    color: white;
    background: none;
    margin: 0 auto;
  }
  .error {
    border: 1px solid red;
  }
  .errorText {
    color: red;
  }
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}