@import "../../sass/pixel";
.islandMain {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: $eighty;
   .islandContainer {
     position: relative;
     height: $one-thousand;
     display: flex;
     @media (max-width: $seven-hundred-sixty-eight) {
       margin-top: $one-hundred;
       margin-bottom: $two-hundred;
       flex-direction: column;
     }

     .islandMenu {
       display: flex;
       align-items: center;
       flex-direction: column;
       height: $one-hundred-percent;
       background-color: #10437c;
       width: $two-hundred;
       @media (max-width: $seven-hundred-sixty-eight) {
         gap: $ten;
         width: $one-hundred-percent;
         min-height: $one-hundred;
         flex-direction: unset;
         justify-content: center;
         padding: $ten;
       }
       h3 {
          font-family: "Dancing Script", cursive;
          color: white;
          text-align: center;
          font-size: 2rem;
          margin-top: $ten;
          margin-bottom: $Tweenty;
          cursor: pointer;
         @media (max-width: $seven-hundred-sixty-eight) {
          margin-bottom: unset;
           font-size: 1.3rem;
         }
       }
       .IslandTitle {
         position: relative;
         display: flex;
         align-items: center;
         text-align: center;
         font-size: 1.5rem;
         font-family: "Dancing Script", cursive;
         width: $one-hundred-percent;
         height: $fifty;
         margin-left: $ten;
         margin-bottom: $thirty;
         padding-left: $ten;
         cursor: pointer;
         @media (max-width: $seven-hundred-sixty-eight) {
           margin-bottom: unset;
           margin-left: unset;
           width: unset;
           font-size: 1rem;
         }
         .outline {
           display: none;
           position: absolute;
           right:$five;
           top: -$tweenty-five;
           width: $tweenty-five;
           height: $tweenty-five;
           border-radius: 50%;
           background-color: transparent;
           box-shadow: $tweenty-five $fifteen 0 $ten white;
         }
         .outline::before {
           content: "";
           position: absolute;
           bottom: -$seventy-five;
           right: 0;
           width: $tweenty-five;
           height: $tweenty-five;
           border-radius: 50%;
           background-color: transparent;
           box-shadow: 21px -20px 0 10px white;
         }
         .show {
           display: flex;
           @media (max-width: 768px) {
             display: none;
           }
         }
       }
       .style {
         background-color: white;
         border-top-left-radius: $thirty;
         border-bottom-left-radius: $thirty;
         @media (max-width: $seven-hundred-sixty-eight) {
           background-color: unset;
           border-top-left-radius: unset;
           border-bottom-left-radius: unset;
         }
       }
     }
     .roms {
       height: $one-hundred-percent;
       width: $one-hundred-percent;
        .allRoms {
          display: flex;
          justify-content: center;
          overflow-x: auto;
          gap: $Tweenty;
          flex-wrap: wrap;
          padding: $forty;
          width: $one-hundred-percent;
          height: $one-hundred-percent;
        }
        .IslandTikiTaki {
          display: none;
          justify-content: center;
          overflow-x: auto;
          gap: $Tweenty;
          flex-wrap: wrap;
          padding: $forty;
          width: $one-hundred-percent;
          height: $one-hundred-percent;
        }
       .IslandNobu {
         display: none;
         justify-content: center;
         overflow-x: auto;
         gap: $Tweenty;
         flex-wrap: wrap;
         padding: $forty;
         width: $one-hundred-percent;
         height: $one-hundred-percent;
       }
       .IslandTocaToca {
         display: none;
         justify-content: center;
         overflow-x: auto;
         gap: $Tweenty;
         flex-wrap: wrap;
         padding: $forty;
         width: $one-hundred-percent;
         height: $one-hundred-percent;
       }
       .show {
         display: flex;
       }
       .hide {
         display: none;
       }
     }
   }
}

::-webkit-scrollbar {
  width: $ten;
}

::-webkit-scrollbar-thumb {
  border-radius: $ten;
  background-color: #10437c;
}

