@import "../../sass/pixel";
.addApartmentForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $three-hundred-fifty;
  min-height: $five-hundred;
  border: 2px solid white;
  border-radius: $thirty;
  padding: $ten;
   .icon {
     position: absolute;
     background: none;
     border: 1px solid white;
     border-radius: 50%;
     padding: $five;
     top: $ten;
     right: $ten;
     i {
       color: white;
     }
   }
  h2{
    margin-bottom: $Tweenty;
    text-align: center;
  }
  .customSelect {
    display: flex;
    flex-direction: column;
    margin-bottom: $fifteen;
    label {
      margin-bottom: $ten;
      font-size: 1.3rem;
    }
    .selectBox {
      width: $one-hundred-percent;
      height: $thirty;
      background: none;
      border: none;
      outline: none;
      color: white;
       option {
         background: rgba(0,0,0, 0.1);
         color: black;
       }
    }
  }
  .customTextArea {
    margin-bottom: $Tweenty;
    label {

      font-size: 1.3rem;
    }
    textarea {
      padding: $ten;
      margin-top: $ten;
      width: $one-hundred-percent;
      height: $one-hundred;
      resize: unset;
      border: 1px solid white;
      background: none;
      color: white;
      outline: none;
    }
    textarea::placeholder {
      color: white;
    }
  }
  .customInput {
    display: flex;
    flex-direction: column;
    margin-bottom: $fifteen;
    label {
      margin-bottom: $ten;
      font-size: 1.3rem;
    }
    input {
      width: $one-hundred-percent;
      height: $thirty;
      background: none;
      border: none;
      border-bottom: 1px solid white;
      color: white;
      padding-left: $ten;
      outline: none;
    }
    input::placeholder {
      color: white;
    }
  }
  .addApartmentBtn {
    margin: 0 auto;
    width: $one-hundred-fifty;
    padding: $five;
    background: none;
    border-radius: $thirty;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
  }
}