@import "../../sass/pixel";
.PaymentInfo {
  display: flex;
  flex-direction: column;
  padding: $Tweenty;
  background-color: white;
  border: 1px solid white;
   span {
     margin-bottom: $ten;
   }
  .addCart {
    width: $one-hundred;
    height: $thirty;
    border: none;
    border-radius: $ten;
    background-color: #10437c;
    color: white;
    cursor: pointer;
  }
}