.menu__user {


  height: 100vh;
  background-color: #10437c;
  margin: auto 0;
   .box {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px;
     border-bottom:  2px solid #205189;
     width: 100%;
      .icon {
        color: white;
        font-size: 2rem;
        margin-bottom: 10px;
      }
     span {
       position: relative;
       color:white;
     }
     .btn {
       outline: none;
       background: none;
       border: none;
       color:white;
     }
     .grey{
       color: rgba(0,0,0, 0.3);
     }
     .liked {
       position: absolute;
       top:-40px;
       right: 0;
       display: flex;
       justify-content:center ;
       align-items: center;
       background-color: red;
       width: 20px;
       height: 20px;
       border-radius: 50%;
     }
   }
   .box:first-child {
     border-top: 2px solid #205189;
   }

}
