@import "../../sass/pixel";
.menu__user {
  position: absolute;
  top: -$one-hundred;
  left: 0;
  height: 105vh;
  background-color: #10437c;
  margin: auto 0;

    @media (max-width: $one-thousand-three-hundred-thirty-eight) {
      display: flex;
      height: $one-hundred;
      width: $one-hundred-percent;
      position: absolute;
      align-items: center;
      top: 0;
      z-index: 5;
    }
   @media (max-width: $four-hundred-tweenty-five) {
     display: flex;
     justify-content: space-between;
   }
   .hamburger {
     display: none;
     padding: 2px;
     border: 1px solid white;
     border-radius: $five;
     font-size: 1.2rem;
     color: white;
     @media (max-width: $four-hundred-tweenty-five) {
       display: flex;
       margin-left: $Tweenty;
     }
   }
   .userNav {
     display: flex;
     flex-direction: column;
     z-index: 5;
      @media (max-width: $one-thousand-three-hundred-thirty-eight) {
        display: flex;
        flex-direction: unset;
        width: $one-hundred-percent;
      }
      @media (max-width: $four-hundred-tweenty-five) {
        display: none;
        position: absolute;
        flex-direction: column;
        background: #10437c;
        top: $one-hundred;
        left: 0;
        width: $one-hundred-percent;
      }
   .box {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: $ten;
     border-bottom: 2px solid #205189;
     width: $one-hundred-percent;
     cursor: pointer;
     @media (max-width: $one-thousand-three-hundred-thirty-eight) {
       border-bottom: unset;
     }

     .icon {
       color: white;
       font-size: 2rem;
       margin-bottom: $ten;
     }

     span {
       position: relative;
       color: white;

     }

     .btn {
       outline: none;
       background: none;
       border: none;
       color: white;
       cursor: pointer;
     }

     .liked {
       position: absolute;
       top: -$forty;
       right: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: red;
       width: $Tweenty;
       height: $Tweenty;
       border-radius: 50%;
     }
     .grey{
       color: rgba(0,0,0, 0.3);
     }
     }
   }
   .show {
     display: flex;
   }
     .boxBtn {
       display: flex;
       justify-content: center;
       margin: $ten 0 $ten 0;
       padding-bottom: $ten;
       border-bottom: 2px solid #205189;
       width: auto;
       cursor: pointer;
        @media (max-width: $one-thousand-three-hundred-thirty-eight){
          border-bottom: unset;
          margin-right: $Tweenty;
        }
       .logout {
         background: none;
         border: 1px solid #205189;
         border-radius: $thirty;
         color: white;
         padding: $ten;
         cursor: pointer;

       }
       .grey{
         color: rgba(0,0,0, 0.3);
       }
     }
   }
   .box:first-child {
     border-top: 2px solid #205189;
      @media (max-width: $one-thousand-three-hundred-thirty-eight) {
        border-top: unset;
      }
   }


