@import "../../sass/pixel";
.singielReservationContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $one-hundred-percent;
  min-height: $two-hundred;
  border: 1px solid darkgrey;
  margin-bottom: $ten;
  padding: $ten;
   span {
     margin-bottom: $ten;
   }
  .removeReservation {
    position: absolute;
    top: $ten;
    right: $ten;
    color: #d84851;
    cursor: pointer;
    font-size: 1.5rem;
  }
}