.UserPanel {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #BDDDF1;

    .userContainer {
     position: relative;
     height: 1100px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 100px;
      @media (max-width: 1338px) {
        display: flex;
        flex-direction: column;
      }
     .userAction {
       display: none;
       background: black;
       margin: 100px auto;
       min-height: 1000px;
       @media (max-width: 1465px) {
         margin-left: 128px;
       }
       @media (max-width: 1338px) {
         margin-left: unset;
         margin-top: 100px;
         width: 100%;
       }

     }
      .pulpit {
        display: none;
        flex-direction: column;
        justify-content: center;
        margin: 100px auto;
        min-height: 1000px;
        padding: 10px;
        @media (max-width: 1465px) {
          margin-left: 128px;
        }
        @media (max-width: 1338px) {
          margin-left: unset;
          margin-top: 200px;
          width: 100%;
        }

        .containerClient {
          display: flex;
          gap: 20px;
          z-index: 5;
          width: 100%;
          @media (max-width: 768px){
            flex-direction: column;
          }
           .login {
             width: 100%;
             padding: 20px;
             background-color: white;
             max-height: 400px;
             h3 {
               margin-bottom: 20px;
             }
              .infoSpan {
                font-weight: bold;
              }
             .listOfProfit {
               margin-top: 20px;
               margin-bottom: 20px;
                li {
                  display: flex;
                  align-items: center;
                  list-style: none;
                  .icon-check {
                    color: #205189;
                  }
                }
             }
             .btnNavigate {
               width: 100%;
               height: 40px;
               text-align: center;
               background-color: #1e5085;
               border: none;
               cursor: pointer;

                a {
                  color: white;
                  text-decoration: none;
                }
             }
           }
          .linkToReservation {
            width: 100%;
            padding: 20px;
            background-color: white;
            max-height: 400px;
            .favorites {
              position: relative;
              display: flex;
              align-items: center;
              margin-top: 30px;
              margin-bottom: 20px;
              height: 30px;
              gap: 20px;
              font-size: 1.5rem;
               .likedIcon {
                 color: #205189;
               }
              .liked {
                background-color: red;
                border-radius: 50%;
                padding: 5px;
                font-size: 1rem;
                color: white;
              }
              .right {
                position: absolute;
                right: 0;
                bottom: 0;
                color: #205189;
                cursor: pointer;
              }
            }
            .borderBottom {
              border: 1px solid #e7e7e7;
              margin-bottom: 20px;
            }
            .navigateToRegister {
              display: flex;
              align-items: center;
              .userIcon {
                font-size: 3rem;
                color: #205189;
                margin-right: 30px;
              }
              a {
                color: #205189;
                text-decoration: none;
                font-size: 1.5rem;
                margin-right: 3px;
              }
            }
          }
        }
        .moreOfert {
          display: flex;
          flex-direction: column;
          background-color: white;
          width: 100%;
          height: auto;
          padding: 10px;
          overflow: hidden;
          margin-top: 100px;
           h3 {
             margin-bottom: 20px;
           }
          .sliderOfert {
            position: relative;
            display: flex;
            width: 100%;
            min-height: 300px;
            white-space: nowrap;
            .slide-carousel {
              display: flex;
              gap: 10px;
              padding: 5px;
              animation: slide 35s infinite linear;

              .ofertContainer {
              width: 300px;
              min-height: 350px;

              img {
                width: 300px;
                height: 200px;
                object-fit: cover;
                margin-bottom: 10px;
              }

              h4 {
                margin-bottom: 20px;
              }

              .infoCont {
                display: flex;
                flex-direction: column;

                span {
                  margin-bottom: 10px;
                }
              }

              .checkOfert {
                padding: 5px;
                background-color: #1e5085;
                border: none;
                border-radius: 10px;
                outline: none;

                a {
                  color: white;
                  text-decoration: none;
                }
              }
            }
          }
          }
          .sliderOfert:hover .slide-carousel {
            animation-play-state: paused;
          }
          .sliderOfert::before, ::after {
            position: absolute;
            top: 0;
            width: 250px;
            height: 100%;
            content: "";
            z-index: 2;

          }
          .sliderOfert::before {
            left: -10px;
            background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
          }
          .sliderOfert::after {
            right: -10px;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
          }
        }
      }
      .likedApartments {
        display: none;
        flex-direction: column;
        margin: 100px auto;
        min-height: 1000px;
        padding: 10px;
        @media (max-width: 1465px) {
          margin-left: 128px;
        }
        @media (max-width: 1338px) {
          margin-left: unset;
          margin-top: 200px;
          width: 100%;
        }
        h3 {
          margin-bottom: 20px;
        }
      }
     .show {
       display: flex;
     }
   }
}

@keyframes slide {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}