.UserPanel {
  display: flex;
  min-height: 100vh;
  width: 100%;

    .userContainer {
     position: relative;
     height: 1100px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 100px;
      @media (max-width: 1338px) {
        display: flex;
        flex-direction: column;
      }
     .userAction {
       display: none;
       background: black;
       margin: 100px auto;
       height: 1000px;
       @media (max-width: 1465px) {
         margin-left: 128px;
       }
       @media (max-width: 1338px) {
         margin-left: unset;
         margin-top: 100px;
         width: 100%;
       }
       .reservationList {
         color: white;
       }
     }
      .pulpit {
        display: none;
        margin: 100px auto;
        min-height: 1000px;
        border: 2px solid #2e2e2e;
        padding: 10px;
        background-color: lightgrey;
        @media (max-width: 1465px) {
          margin-left: 128px;
        }
        @media (max-width: 1338px) {
          margin-left: unset;
          margin-top: 200px;
          width: 100%;
        }

        .containerClient {
          display: flex;
          gap: 20px;
          padding: 10px;
          width: 100%;
          @media (max-width: 768px){
            flex-direction: column;
          }
           .login {
             width: 100%;
             padding: 20px;
             background-color: white;
             max-height: 400px;
             h3 {
               margin-bottom: 20px;
             }
              .infoSpan {
                font-weight: bold;
              }
             .listOfProfit {
               margin-top: 20px;
               margin-bottom: 20px;
                li {
                  display: flex;
                  align-items: center;
                  list-style: none;
                  .icon-check {
                    color: #205189;
                  }
                }
             }
             .btnNavigate {
               width: 100%;
               height: 40px;
               text-align: center;
               background-color: #1e5085;
               border: none;
                a {
                  color: white;
                  text-decoration: none;
                }
             }
           }
          .linkToReservation {
            width: 100%;
            padding: 20px;
            background-color: white;
            max-height: 400px;
            .favorites {
              position: relative;
              display: flex;
              align-items: center;
              margin-top: 30px;
              margin-bottom: 20px;
              height: 30px;
              gap: 20px;
              font-size: 1.5rem;
               .likedIcon {
                 color: #205189;
               }
              .liked {
                background-color: red;
                border-radius: 50%;
                padding: 5px;
                font-size: 1rem;
                color: white;
              }
              .right {
                position: absolute;
                right: 0;
                bottom: 0;
                color: #205189;
              }
            }
            .borderBottom {
              border: 1px solid #e7e7e7;
              margin-bottom: 20px;
            }
            .navigateToRegister {
              display: flex;
              align-items: center;
              .userIcon {
                font-size: 3rem;
                color: #205189;
                margin-right: 30px;
              }
              a {
                color: #205189;
                text-decoration: none;
                font-size: 1.5rem;
                margin-right: 3px;
              }
            }
          }
        }
      }
     .show {
       display: flex;
     }
   }
}