@import "../../sass/pixel";
.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: $one-hundred-percent;
  padding: 26rem 2em;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../../../assets/hero-big.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  overflow: hidden;

   @media (max-width: $seven-hundred-sixty-eight) {
     padding: 12rem 2em;
   }
  @media (min-width: $seven-hundred-sixty-nine) and (max-width:$nine-hundred-ninety-six) {
    padding: 19rem 2em ;
  }

   .white-block-left {
     position: absolute;
     bottom:0;
     left: -$thirty;
     background-color: white;
     height: $fifty;
     width: 50%;
     transform: skewX(45deg);
   }
  .white-block-right {
    position: absolute;
    top:0;
    right: -$thirty;
    background-color: white;
    height: $fifty;
    width: 50%;
    transform: skewX(45deg);
  }
  .hero-img__text {
    font-size: clamp(0rem, 0rem + 8vw, 1.1rem);
    padding: 1rem;
  }
  .hero-img__title {
    font-size: clamp(2.6rem, 0rem + 8vw, 4rem);
    font-family: 'Dancing Script', cursive;
  }

  hr {
    max-width: $nine-hundred;
    width: 60%;

    @media (max-width: $seven-hundred-sixty-eight) {
      width: $one-hundred-percent;
    }
  }

}