@import "../../sass/colors";
@import "../../sass/pixel";
.opinionsHomePage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $one-hundred-percent;
  height: $four-hundred;
  margin: $one-hundred 0;
   h2 {
     color:#1755e7;
     font-size: clamp(1rem, 0rem + 8vw, 3rem);
     letter-spacing: 2px;
     text-align: center;
     text-transform: uppercase;
     margin-bottom: $fifty;
   }
  .opinionsContainer {
    overflow: hidden;
    .reviews {
      &__box {
         position: relative;
         padding: 1em;
         border-radius: $eight;
         box-shadow: $three $three $ten rgba(46, 46, 46, 0.18);
         transition: transform .3s;
         margin-top: $Tweenty;

         &:hover {
           transform: scale(.95);
         }
       }

       &__box-img {
         position: absolute;
         top: 8%;
         left: 75%;
         transform: translate(-50%, -50%);

         img {
           width: $eighty;
           height: $eighty;
           object-fit: cover;
           border-radius: 50%;
         }
       }

       &__box-quote {
         margin-bottom: 1em;
         font-size: 1rem;
         color: $main-color;
       }

       &__box-text {
         margin-bottom: 1em;
         font-size: 1rem;
         color: $dark;
       }
     }
  }
}
.opinionsHomePage::after {
  content: "";
  position: absolute;
  top: $fifty;
  left: -$thirty;
  width: 50%;
  height: $fifty;
  background-color: white;
  transform: skewX(45deg);
}
.opinionsSlide {
    position: relative;
    height: $four-hundred-tweenty;

  .slick-track {
      display: flex;
      gap: $forty;
      padding: $Tweenty;
    }
    .slick-next {
      position: absolute;
      top: -$thirty;
      right: $Tweenty;
      background-color: $dark;
      border-radius: $five;
      padding: 2px;
      color: $colorWhite;

    }

    .slick-prev {
      position: absolute;
      top: -$thirty;
      left: $Tweenty;
      background-color: $dark;
      color:$colorWhite;
      border-radius: $five;
      padding: 2px;
      outline: none;
    }
}