@import "../../sass/pixel";
.apartmentCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $one-hundred-percent;
  height: $one-hundred;
  margin-bottom: $five;
  border: 1px solid darkgray;
  border-radius: $ten;
  padding: $ten;
   .apartmentInfo {
     display: flex;
     margin-left: $ten;
     gap: $ten;
     flex-wrap: wrap;
   }
  .btnContainer {
    display: flex;
    gap: $ten;
    margin-right: $ten;
     .btn {
       border-radius: $ten;
       border: 1px solid white;
       background: none;
       color: white;
       font-size: 1.3rem;
       padding: $five;
     }
  }
  .editApartment {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: $one-hundred-percent;
    height: 115%;
    backdrop-filter: blur($fifteen);
    z-index: 1;
    .form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: $four-hundred;
      min-height: $five-hundred;
      padding: $five;
      border: 1px solid white;
      border-radius: $ten;
       h2{
         text-align: center;
         margin-bottom: $Tweenty;
       }
      .closeForm {
        position: absolute;
        top: $ten;
        right: $ten;
        border: 1px solid white;
        padding: $five;
        border-radius: 50%;
        background: none;
         i {
           color: white;
         }
      }
      .customInput {
        display: flex;
        flex-direction: column;
        width: $one-hundred-percent;
        margin-bottom: $Tweenty;
         label {
           margin-bottom: $ten;
         }
        input {
          outline: none;
          height: $thirty;
          padding-left: $ten;
          color: white;
          background: none;
          border: none;
          border-bottom: 1px solid white;
        }
        input::placeholder {
          color: white;
        }
      }
      .customTextArea {
        display: flex;
        flex-direction: column;
        width: $one-hundred-percent;
        margin-bottom: $Tweenty;
         label{
           margin-bottom: $ten;
         }
        textarea {
          background: none;
          resize: unset;
          color: white;
        }
      }
      .customSelect {
        display: flex;
        flex-direction: column;
        width: $one-hundred-percent;

         label {
           margin-bottom: $ten;
         }
         select {
           color: white;
           background: none;
           border: 1px solid white;
            option {
              color: black;
            }
         }
      }
      .saveBtn {
        width: $one-hundred;
        height: $thirty;
        background: none;
        border-radius: $ten;
        border: 1px solid white;
        text-transform: uppercase;
        color: white;
        margin: $Tweenty auto;
      }
    }

  }
  .show {
    display: flex;
  }
}