@import "../sass/pixel";
@import "../sass/colors";
header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: $blue-gradient;
  backdrop-filter: blur($Tweenty);
  height: $eighty;
  width: $one-hundred-percent;
  z-index: 99;
    .header-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     .logo {
       position: relative;
       font-family: $tropical;
       color: $colorWhite;
       font-size: $tweenty-four;
       text-decoration: none;
       margin-left: $thirty;
       z-index: 10;
       .iconLogo {
         position: absolute;
         bottom: 3px;
         left: -$Tweenty;
         color: green;
         font-size: 2rem;
         z-index: -100;
       }
     }

      .navigation {

        display: flex;
        align-items: center;
        gap: $ten;
        margin: $Tweenty;
         .hamburger {
           display: none;
           padding: 2px;
           border: 1px solid $colorWhite;
           border-radius: $five;
           font-size: 1.2rem;
           color: $colorWhite;
           @media (max-width: $seven-hundred-sixty-eight) {
             display: flex;
           }

         }
         nav {
           display: flex;
           gap: $ten;
            @media (max-width: $seven-hundred-sixty-eight){
              display: none;
              position: absolute;
              top: $eighty;
              left: 0;
              width: $one-hundred-percent;
              height: $six-hundred-forty-six;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              backdrop-filter: blur($fifty);
              gap: 0;
              background: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
            }
            a {
              font-family: $openSans;
              color: white;
              text-decoration: none;
              @media (max-width: $seven-hundred-sixty-eight) {
                margin-top: $ten;
              }
            }
           .logoutAll {
             outline: none;
             color: white;
             border: none;
             background-color: unset;
             font-family: "Ubuntu", sans-serif;
             cursor: pointer;
             @media (max-width: $seven-hundred-sixty-eight) {
               margin-top: $ten;
             }
           }
           .admin {
             display: none;
           }
           .show {
             display: flex;
           }
         }
        .login {
          position: relative;
          cursor: pointer;
          color: $colorWhite;
          padding: $five;
          text-transform: uppercase;
          border: 1px solid $colorWhite;
          border-radius: $ten;
          .registerConection {
            position: absolute;
            top: $fifty;
            right: 3px;
            display: none;
            flex-direction: column;
            background-color: white;
            width: $two-hundred-tweenty;
            text-align: center;
            border-radius: $Tweenty;
            padding: $ten;
            z-index: 1000;
             span {
               color: #2e2e2e;
             }
            a {
              margin-bottom: $five;
            }
          }
          .registerConection::before {
            content: "";
            position: absolute;
            top:-$ten;
            right: $tweenty-five;
            width: $Tweenty;
            height: $Tweenty;
            background-color: white;
            transform: rotate(45deg);
          }
         .show {
           display: flex;
         }
        }
        .show {
          display: flex;
        }

      }
    }
}