@import "../sass/colors";
@import "../sass/pixel";

.adminPanel {
  display: flex;
  font-family: $openSans;
  width: $one-hundred-percent;
  height: 110vh;
  margin: $eighty 0 0 0;
  background-color: #BDDDF1;
  @media (max-width: $seven-hundred-sixty-eight) {
    flex-direction: column;
  }
  @media (max-width: $four-hundred-tweenty-five) {
    height: 200vh;
  }


  .panel {
    position: relative;
    height: $one-thousand-one-hundred;
    border: $two solid #2e2e2e;
    background-image: url("../../assets/backgroundAdmin.jpg");
    background-size: cover;
    background-position: center;
    color: $colorWhite;
    margin: auto auto;
    .adminNav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: $one-hundred;
      width: $one-hundred-percent;
      padding: 0 $Tweenty;
      background: #10437c;
      color: white;
      @media (max-width: $seven-hundred-sixty-eight) {
        flex-direction: unset;
      }
      h2 {
        margin: $Tweenty 0;
      }
      .navWrapper {
        display: flex;
        align-items: center;
        gap: $ten;
        @media (max-width: $seven-hundred-sixty-eight) {
          display: flex;
        }
        .hamburger {
          display: none;
          padding: $two;
          border: 1px solid $colorWhite;
          border-radius: $five;
          font-size: 1.2rem;
          color: $colorWhite;
          @media (max-width: $seven-hundred-sixty-eight) {
            display: flex;
          }
        }

        .navigationAdmin {
          display: flex;
          cursor: pointer;
          gap: $ten;
          @media (max-width: $seven-hundred-sixty-eight) {
            position: absolute;
            display: none;
            flex-direction: column;
            align-items: center;
            background: #10437c;
            top: $ninety;
            left: 0;
            width: $one-hundred-percent;
            z-index: 10;
          }

          span {
            margin-bottom: $ten;
            @media (max-width: $seven-hundred-sixty-eight) {
              padding: $ten;
            }
          }
        }

        .logout {
          background: none;
          border: 1px solid $colorWhite;
          border-radius: $thirty;
          color: $colorWhite;
          text-transform: uppercase;
          padding: $five;
          cursor: pointer;
        }

        .show {
          display: flex;
        }
      }
    }
    .apartmentSection {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: $Tweenty;
      width: $one-hundred-percent;
      height: $one-hundred-percent;
      @media (max-width: $seven-hundred-sixty-eight) {
        justify-content: unset;
      }
      h3 {
        margin-bottom: $Tweenty;
      }

      .apartments {

        width: $one-hundred-percent;
        min-height: $eight-hundred;
      }
    }

    .opinions {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: $Tweenty;
      width: $one-hundred-percent;
      height: $one-hundred-percent;

      h3 {
        margin-bottom: $Tweenty;
      }

      .opinion {
        width: $one-hundred-percent;
        min-height: $eight-hundred;
      }
    }
    .reservationMenu {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: $Tweenty;
      width: $one-hundred-percent;
      height: $one-hundred-percent;
      @media (max-width: $seven-hundred-sixty-eight) {
        justify-content: unset;
      }
      h3 {
        margin-bottom: $Tweenty;
      }
      .singielReservation {
        width: $one-hundred-percent;
        min-height: $eight-hundred;
      }
    }
    .addApartment {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $Tweenty;
      width: $one-hundred-percent;
      height:$one-hundred-percent;
      @media (max-width: $seven-hundred-sixty-eight) {
        align-items: unset;
        margin-top: $two-hundred;
      }
    }
    .paginationBttns {
      position: absolute;
      bottom: $one-hundred;
      right: 0;
      display: flex;
      justify-content: center;
      margin-top: $fifty;
      width: $one-hundred-percent;
      height: $forty;
      list-style: none;

      a {
        padding: $ten;
        margin: $eight;
        border-radius: $five;
        border: 1px solid #2b2eff;
        color: #2b2eff;
        cursor: pointer;
      }

      a:hover {
        color: white;
        background-color: #2b2eff;
      }
    }

    .paginationActive {
      a {
        color: white;
        background-color: #2b2eff
      }
    }

      .hide {
        display: none;
      }
  }
}
