@import "../sass/colors";

.adminPanel {
  display: flex;
  font-family: $openSans;
  width: 100%;
  height: 110vh;
  margin: 80px 0 0 0;
  background-color: #BDDDF1;
  @media (max-width: 768px) {
    flex-direction: column;
  }


  .panel {
    position: relative;
    height: 1100px;
    border: 2px solid #2e2e2e;
    background-image: url("../../assets/backgroundAdmin.jpg");
    background-size: cover;
    background-position: center;
    color: $colorWhite;
    margin: auto auto;
    .adminNav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      width: 100%;
      padding: 0 20px;
      background: #10437c;
      color: white;
      @media (max-width: 768px) {
        flex-direction: unset;
      }
      h2 {
        margin: 20px 0;
      }
      .navWrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 768px) {
          display: flex;
        }
        .hamburger {
          display: none;
          padding: 2px;
          border: 1px solid $colorWhite;
          border-radius: 5px;
          font-size: 1.2rem;
          color: $colorWhite;
          @media (max-width: 768px) {
            display: flex;
          }
        }

        .navigationAdmin {
          display: flex;
          cursor: pointer;
          gap: 10px;
          @media (max-width: 768px) {
            position: absolute;
            display: none;
            flex-direction: column;
            align-items: center;
            background: #10437c;
            top: 90px;
            left: 0;
            width: 100%;
            z-index: 10;
          }

          span {
            margin-bottom: 10px;
            @media (max-width: 768px) {
              padding: 10px;
            }
          }
        }

        .logout {
          background: none;
          border: 1px solid $colorWhite;
          border-radius: 30px;
          color: $colorWhite;
          text-transform: uppercase;
          padding: 5px;
          cursor: pointer;
        }

        .show {
          display: flex;
        }
      }
    }
    .apartmentSection {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 20px;
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        justify-content: unset;
      }
      h3 {
        margin-bottom: 20px;
      }

      .apartments {

        width: 100%;
        min-height: 800px;
      }
    }

    .opinions {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      height: 100%;

      h3 {
        margin-bottom: 20px;
      }

      .opinion {
        width: 100%;
        min-height: 800px;
      }
    }
    .reservationMenu {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        justify-content: unset;
      }
      h3 {
        margin-bottom: 20px;
      }
      .singielReservation {
        width: 100%;
        min-height: 800px;
      }
    }
    .addApartment {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        align-items: unset;
        margin-top: 200px;
      }
    }
    .paginationBttns {
      position: absolute;
      bottom: 100px;
      right: 0;
      display: flex;
      justify-content: center;
      margin-top: 50px;
      width: 100%;
      height: 40px;
      list-style: none;

      a {
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        border: 1px solid #2b2eff;
        color: #2b2eff;
        cursor: pointer;
      }

      a:hover {
        color: white;
        background-color: #2b2eff;
      }
    }

    .paginationActive {
      a {
        color: white;
        background-color: #2b2eff
      }
    }

      .hide {
        display: none;
      }
  }
}
