@import "../../sass/colors";
@import "../../sass/pixel";
.singielApartment {
  position: relative;
  border-radius: $ten;
  width: $three-hundred-sixty;
  height: auto;
     .imgContainer {
       width: $one-hundred-percent;
       height: $three-hundred;
       margin-bottom: $five;
       img {
          width: $one-hundred-percent;
          height: $one-hundred-percent;
          border-top-left-radius: $ten;
          border-top-right-radius: $ten;
          object-fit: cover;
        }
     }
    .location {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $Tweenty;
       span:nth-child(2) {
         display: flex;
         align-items: center;
         gap: $five;
       }
    }
    .ofert {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .checkOfert {
        padding: 3px;
        background-color: $dark;
        border-radius: $ten;
         a {
           color: white;
           text-decoration: none;
         }
      }
    }
  .heart {
    overflow: hidden;
    position: absolute;
    top: $ten;
    right: $ten;
    font-size: 1.5rem;
    color: white;
  }
  .red {
    color: red;
  }
}
