@import "../sass/colors";
@import "../sass/pixel";
.registerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $one-hundred-percent;
  height: 100vh;
  background:#10437c;
  padding: $five;
  margin-top: $eighty;
   .registration {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: $three-hundred-fifty;
     min-height: $five-hundred;
     background-image: url("../../assets/formBg.jpg");
     background-size: cover;
     background-position: center;
     box-shadow: $five $Tweenty $fifty #000;
     border-radius: $forty;
     color: white;
     font-family: $openSans;
     h2 {
       font-size: 2rem;
       margin-bottom: $Tweenty;
     }
     .customInput {
       position: relative;
       display: flex;
       flex-direction: column;
       margin-bottom: $five;
         label {
           margin-bottom: $ten;
         }
        .input{
          width: $three-hundred;
          height: $thirty;
          border: none;
          border-bottom: 1px solid white;
          background: none;
          color: white;
          padding-left: $ten;
          outline: none;
          margin-bottom:$five;
        }
       .input::placeholder {
         color: white;
       }
       i {
         position: absolute;
         right: $ten;
         top: $thirty-five;
       }
       .error {
         border: 1px solid red;
       }
       .errorText {
         color: red;
       }
     }
     .customCheckBox {
       position: relative;
       display: flex;
       flex-direction: column;
       .checkBox {
          display: flex;
          align-items: center;
          gap: $ten;
        }
       .errorText {
         color: red;
       }
     }
     .btnRegister {
       border: 2px solid white;
       background: none;
       border-radius: $five;
       color: white;
       cursor: pointer;
       text-transform: uppercase;
       padding: $five;
       margin-bottom: $ten;
       margin-top: $ten;
     }
     .registerSpan {
       display: flex;
       font-size: 1.3rem;
       gap: $ten;
       margin-bottom: $Tweenty;
       a {
         color: white;
         text-decoration: none;
       }
     }
   }
}