@import "../sass/colors";
.registerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #0f0c29,#302b63,#24243e);
  padding: 5px;
   .registration {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 350px;
     min-height: 500px;
     background-image: url("../../assets/vectezy.jpg");
     background-size: cover;
     background-position: center;
     box-shadow: 5px 20px 50px #000;
     border-radius: 40px;
     color: white;
     font-family: $openSans;
     h2 {
       font-size: 2rem;
       margin-bottom: 20px;
     }
     .customInput {
       position: relative;
       display: flex;
       flex-direction: column;
       margin-bottom: 5px;
         label {
           margin-bottom: 10px;
         }
        .input{
          width: 300px;
          height: 30px;
          border: none;
          border-bottom: 1px solid white;
          background: none;
          color: white;
          padding-left: 10px;
          outline: none;
          margin-bottom: 5px;
        }
       i {
         position: absolute;
         right: 10px;
         top: 35px;
       }
       .error {
         border: 1px solid red;
       }
       .errorText {
         color: red;
       }
     }
     .customCheckBox {
       position: relative;
       display: flex;
       flex-direction: column;
       .checkBox {
          display: flex;
          align-items: center;
          gap: 10px;
        }
       .errorText {
         color: red;
       }
     }
     .btnRegister {
       border: 2px solid white;
       background: none;
       border-radius: 5px;
       color: white;
       cursor: pointer;
       text-transform: uppercase;
       padding: 5px;
       margin-bottom: 10px;
       margin-top: 10px;
     }
     .registerSpan {
       display: flex;
       font-size: 1.3rem;
       gap: 10px;
       margin-bottom: 20px;
       a {
         color: white;
         text-decoration: none;
       }
     }
   }
}