@import "../../sass/pixel";
.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $one-hundred-percent;
  min-height: $five-hundred;
  background-color: #eee;
  padding: $ten;
  .contact-container {
    margin:$one-hundred 0;
    h2 {
      color:#1755e7;
      font-size: clamp(1rem, 0rem + 8vw, 3rem);
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: $fifty;
    }
    .contactForm {
      display: flex;
      flex-direction: column;
      label {
        text-transform: uppercase;
        margin-bottom: $ten;
      }
      input {
        margin-bottom: $Tweenty;
        height: $thirty;
        outline: none;
        border: none;
        border-radius: $ten;
        padding: $ten;
      }
      textarea {
        padding: $ten;
        resize: unset;
        height: $two-hundred;
        border: none;
        border-radius: $ten;
        outline: none;
        margin-bottom: $ten;
      }
      .sendEmail {
        align-self: flex-end;
        padding: 1em;
        width: $one-hundred-percent;
        max-width: $three-hundred;
        color: #fff;
        border: none;
        border-radius: $eight;
        background-color: #1755e7;
        cursor: pointer;
      }
    }
  }
}
.contact::before {
  content: "";
  position: absolute;
  top: -$fifty;
  right: -$thirty;
  width: 50%;
  height: $fifty;
  background-color: #eee;
  transform: skewX(-45deg);
}