@import "../sass/colors";
@import "../sass/pixel";

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: $four-hundred-five;
  color: $colorWhite;
  background-color: $dark;

   &__boxes {
     display: flex;
     gap: $Tweenty;
     justify-content: space-between;
     margin-bottom: $Tweenty;
     margin-top: $one-hundred;
     padding: $Tweenty;

   }

  &__box {
    display: flex;
    width: $four-hundred-eighty-three;
    flex-direction: column;
  }

  &__box-title {
    margin-bottom: $Tweenty;
  }


  &__box-desktop {
    display: flex;
    flex-direction: column;
    width: auto

  }

  &__box-list-item {
    list-style: none;
    margin-bottom: $ten;
    color: white;
     a {
       text-decoration: none;
       color: #eee;
     }
  }

  &__bottom-text {
    padding: 2em;
    text-align: center;
  }
  hr {
    width: 100%;
  }
}

footer::after {
  content: "";
  position: absolute;
  top:-$forty;
  left: -$thirty;
  width: 50%;
  height: $fifty;
  background-color: #2e2e2e;
  transform: skewX(45deg);
}
