@import "../../sass/pixel";
.apartmentLiked {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $ten;
  background: white;
  border-radius: $ten;
  width: $one-hundred-percent;
  min-height: $one-hundred;
  margin-bottom: $ten;
  padding:$ten;
  @media (max-width: $four-hundred-tweenty-five) {
    flex-direction: column;
    min-height: unset;
  }
  p {
    width: $one-hundred-percent;
    max-width: $five-hundred;
  }
  .remove {
    position: absolute;
    right:$ten;
    top: $ten;
    font-size: 1.2rem;
    color: #d84851;
    cursor: pointer;
  }
   .infoApartment {
     display: flex;
     flex-direction: column;
     margin-left: $Tweenty;
      span {
        margin-bottom: $five;
        @media (max-width: $four-hundred-tweenty-five) {
          text-align: center;
        }
      }
     img {
       width: $one-hundred;
       height: $one-hundred;
       object-fit: cover;
     }
   }
   p {
     @media (max-width: $four-hundred-tweenty-five) {
       text-align: center;
     }
   }
   .price {
     position: relative;
     display: flex;
     margin-right: $Tweenty;
     .border {
       width: 1px;
       height: $one-hundred;
       background-color: #e7e7e7;
       @media (max-width: $four-hundred-tweenty-five) {
         border: none;
         height: unset;
         width: unset;
         background-color: unset;
       }
     }
     .action{
       display: flex;
       flex-direction: column;
       margin-left: $ten;
       span {
         margin-bottom: $ten;
         color: #d84851;
       }
       .removeBtn {
         height: $fifty;
         padding: $five;
         background: none;
         border:1px solid #10437c;
         cursor: pointer;
         a {
           color: #10437c;
           text-decoration: none;
         }
       }
       button:hover {
         background: #10437c;
         a {
           color: white;
         }
       }
     }

   }
}